<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LayUI__/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div style="padding: 20px;">
    <form class="layui-form layui-form-pane" action="post">
        <div class="layui-form-item">
            <label class="layui-form-label" >用户名</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$userData['name']}" autocomplete="off" placeholder="请输入用户名" class="layui-input username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input  type="password" name="password"  placeholder="不填写代表不修改密码" autocomplete="off" class="layui-input password" value="" >
            </div>
            <!--<button class="layui-btn layui-btn-normal" type="button" id="getnewpwd">重新获取密码</button>-->
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="state" value="1" title="启用" {eq name="userData['state']" value="1"}checked="true"{/eq}>
                <input type="radio" name="state" value="2" title="禁用" {eq name="userData['state']" value="2"}checked="true"{/eq}>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">添加备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">{$userData.remark}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" type="button" id="adduserBtn">提交</button>
        </div>
    </form>
</div>
<script  src="__CommonJS__/jquery.js"></script>
<script  src="__LayUI__/layui.all.js"></script>
</body>
</html>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
    });
    $(function(){
        //添加用户
        $("#adduserBtn").click(function(){
            var userame = $.trim($(".username").val());
            var password = $.trim($(".password").val());
            if(!userame){
                layer.msg('用户名不能为空', {icon: 5});
                return false;
            }
            var data,url;
            data = $("form").serialize();
            url = "{:url('admin/Index/ajaxeditUser')}";
            $.ajax({
                type:'post',
                data:data,
                url:url,
                dataType:'json',
                success:function(res){
                    if(res.status==1){
                        layer.msg(res.msg, {icon: 6});
                        setTimeout(jumphref,1000)
                        function jumphref(){
                            top.location.href = "{:url('admin/Login/index')}";
                        }
                    }else{
                        layer.msg(res.msg, {icon: 5});
                    }
                },
                fail:function(){
                    layui.use('layer', function(){
                        layer.msg("网络错误请重试", {icon: 5});
                    });
                }
            })

        });
//        //重新获取密码
//        $("#getnewpwd").click(function(){
//            $.get("{:url('admin/User/getNewPwd')}",function(data){
//                $(".password").val(data);
//            })
//
//        })
    })
</script>
